<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<div class="nav-container sm-0" th:fragment="navbar">
    <nav class="navbar navbar-expand-sm navbar-light bg-light py-0">
        <div class="container">
<!--            <div class="navbar-brand logo"></div>-->
            <div class="navbar-brand">
                <!-- Logo Image -->
                <img src="https://www.erc.edu/assets/img/image.png" width="60" alt="" class="d-inline-block align-middle mr-2">
                <!-- Logo Text -->
                <span class="text-uppercase font-weight-bold" style="font-size: 2rem;">NAME</span>
            </div>
            <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link" style="font-size: 1.5rem;">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/rooms" class="nav-link" style="font-size: 1.5rem;">Rooms</a>
                    </li>
                    <li class="nav-item">
                        <a href="/news" class="nav-link" style="font-size: 1.5rem;">News</a>
                    </li>
                </ul>

                <ul class="navbar-nav d-none d-md-block">

                    <!-- Login button: show if NOT authenticated -->
                    <li sec:authorize="!isAuthenticated()" class="nav-item">
                        <a th:href="@{/oauth2/authorization/auth0}" id="qsLoginBtn" class="btn btn-primary btn-margin">Login</a>
                    </li>
                    <!-- / Login button -->

                    <!-- Fullsize dropdown: show if authenticated -->
                    <li sec:authorize="isAuthenticated()" class="nav-item dropdown">
                        <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                id="profileDropDown"
                                data-toggle="dropdown"
                        >
                            <!-- Profile image should be set to the profile picture from the id token -->
                            <img th:src="${profile?.get('picture')}"  alt="Profile picture" class="nav-user-profile rounded-circle" width="50"/>
                        </a>
                        <div class="dropdown-menu dropdown-menu-left">
                            <!-- Show the user's full name from the id token here -->
<!--                            <div class="dropdown-header" th:text="${userForm?.fullName}"></div>-->
                            <h6 class="d-inline-block" th:text="${userForm?.firstName} + ' ' + ${userForm?.lastName}"></h6>
                            <a href="/profile" class="dropdown-item dropdown-profile">
                                <i class="fas fa-user mr-3"></i> Profile
                            </a>

<!--                            <a href="/rooms" class="dropdown-item dropdown-profile">-->
<!--                                <i class="fas fa-hotel mr-3"></i> Rooms-->
<!--                            </a>-->
                            <a id="qsLogoutBtn" th:href="@{/logout}" class="dropdown-item">
                                <i class="fas fa-power-off mr-3"></i> Log out
                            </a>
                        </div>
                    </li>
                    <!-- /Fullsize dropdown -->

                </ul>

                <!-- Responsive login button: show if NOT authenticated -->
                <ul sec:authorize="!isAuthenticated()" class="navbar-nav d-sm-none">
                    <a th:href="@{/oauth2/authorization/auth0}" id="qsLoginBtn" class="btn btn-primary btn-lg">Login</a>
                </ul>
                <!-- /Responsive login button -->

                <!-- Responsive profile dropdown: show if authenticated -->
                <ul sec:authorize="isAuthenticated()" class="navbar-nav d-md-none justify-content-between" style="min-height: 120px;">
                    <li class="nav-item">
                        <span class="user-info">
                        <!-- Profile image should be set to the profile picture from the id token -->
                            <img th:src="${profile?.get('picture')}" alt="Profile picture" class="nav-user-profile d-inline-bloc rounded-circle mr-3" width="50"/>
                            <!-- Show the user's full name from the id token here-->
<!--                            <h6 class="d-inline-block" th:text="${userForm?.fullName}"></h6>-->
                            <h6 class="d-inline-block" th:text="${userForm?.firstName} + ' ' + ${userForm?.lastName}"></h6>
                        </span>
                    </li>
                    <li>
                        <i class="fas fa-user mr-3"></i>
                        <a th:href="@{/profile}"> Profile</a>
                    </li>
<!--                    <li>-->
<!--                        <i class="fas fa-user mr-3"></i>-->
<!--                        <a th:href="@{/users}"> Users</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <i class="fas fa-hotel mr-3"></i>-->
<!--                        <a th:href="@{/rooms}"> Rooms</a>-->
<!--                    </li>-->
                    <li>
                        <i class="fas fa-power-off mr-3"></i>
                        <a th:href="@{/logout}"> Log out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</html>